body{
    background-color: rgb(238, 238, 238);
}
*{
    padding: 0;
    margin: 0;
}
img{
    max-width: 100%;
}
#header-img{
width: 300px;
}
#header{
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 20px auto;
    /* position: fixed;
    top: 20px;
    left: 60px; */

}
#nav-bar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
  }
  #nav-bar ul{
    display: flex;
    justify-content: space-between;
}
#nav-bar ul li{
    margin-right: 80px;
    list-style: none;
    color: #0D0D0D;
}
#last-element{
    margin-right: 0px;
    /* background-color: black; */
}
 
@media (max-width: 650px) {
	.pricing-container{
		display: flex;
		flex-direction: column;
	}
  }