#nav-bar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
  }
  @media (max-width: 768px) {
	/* CSS rules for screens with a maximum width of 768px */
  }
  .flex-container {
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .flex-item {
	flex: 1;
	text-align: center;
  }